/****** Welcome Section ******/
#WelcomeSection {
	margin-left: -12px;
	margin-right: 0;
	padding: 0;
	background-color: $darkBlueBlack;
	height: 798px;
	width: 360px;
	color: $slighOffWhite;
	h2 {
		margin-top: 55px;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 700;
	}
	img {
		margin-top: 10px;
		margin-left: 80px;
	}
	p {
		margin-top: 10px;
		font-size: .75rem;
		text-align: center;
	}
}

/****** Login Section ******/
#LoginSection {
	margin-left: 0;
	margin-right: -12px;
	padding: 0;
	background-color: $slighOffWhite;
	height: 798px;
	width: 840px;
	form {
		text-align: center;
	}
	label {
		color: $greyBlue;
		font-size: 1.25rem;
		font-weight: 600;
	}
	button {
		margin-top: 3px;
		font-size: 1rem;
		font-weight: 700;
		text-align: center;
		color: $darkBlueBlack;
		background-image: linear-gradient(to bottom, #dcdfee 5%, #878a99 100%);
		border-color: $darkBlueBlack;
		border-radius: 6px;
		border-width: 1px;
		cursor: pointer;
	}
	h6 {
		margin-top: 5px;
		font-weight: 700;
		font-size: .75rem;
		text-align: center;
		color: $greyBlue;
	}
}

#loginInputs {
	margin-top: 45%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}

/****** New Account Section ******/
#NewAccountSection {
	margin-left: 0;
	margin-right: -12px;
	padding: 0;
	background-color: $slighOffWhite;
	height: 798px;
	width: 840px;
	form {
		margin-top: 36%;
		margin-left: 10%;
		margin-right: 10%;
		text-align: center;
	}
	label {
		color: $greyBlue;
		font-size: 1.25rem;
		font-weight: 600;
	}
	button {
		margin-top: 3px;
		font-size: 1rem;
		font-weight: 700;
		text-align: center;
		color: $darkBlueBlack;
		background-image: linear-gradient(to bottom, #dcdfee 5%, #878a99 100%);
		border-color: $darkBlueBlack;
		border-radius: 6px;
		border-width: 1px;
		cursor: pointer;
		width: 15rem;
		height: 2.5rem;
	}
	h6 {
		margin-top: 5px;
		font-weight: 700;
		font-size: .75rem;
		text-align: center;
		color: $greyBlue;
	}
}

/****** Access Section ******/
#AccessSection {
	margin-left: -12px;
	background-color: $darkBlueBlack;
	color: $slighOffWhite;
	width: 200px;
	height: 798px;
	h4 {
		margin-top: 1rem;
		font-size: 1.5rem;
		font-weight: 700;
		text-align: center;
	}
	p {
		font-size: .875rem;
		font-weight: 300;
		text-align: center;
	}
	button {
		margin-top: 6px;
		margin-left: -8px;
		padding: 0;
		height: 40px;
		width: 190px;
		font-size: 1.5rem;
		font-weight: 700;
		text-align: left;
		color: $darkBlueBlack;
		background-image: linear-gradient(to bottom, #dcdfee 5%, #878a99 100%);
		border-color: $darkBlueBlack;
		border-radius: 6px;
		border-width: 1px;
		cursor: pointer;
        img{
            margin-left: 2px;
        }
	}
}
#clock {
	text-align: center;
	font-size: 1.875rem;
	font-weight: 700;
	color: $slightBlueWhite;
}
/****** Calendar ******/

div#calendar {
	margin-left: -5px;
	padding: 0px;
	width: 186px;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	div.header {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: $greyBlue;
		text-align: center;
		display: block;
		cursor: pointer;
		text-decoration: none;
		border-top-left-radius: 10% 40%;
		border-top-right-radius: 10% 40%;
		span.title {
			color: $pureWhite;
			font-size: 18px;
			font-weight: 700;
		}
	}
	div.box-content {
		border: 1px solid #202136;
		border-top: none;
		background-color: $slightBlueWhite;
		border-bottom-left-radius: 10%;
		border-bottom-right-radius: 10%;
	}
	ul.label {
		float: left;
		margin: 0px;
		padding: 0px;
		margin-top: 5px;
		margin-left: 5px;
		li {
			margin-left: 3px;
			padding: 0px;
			margin-right: 2px;
			float: left;
			list-style-type: none;
			width: 20px;
			height: 20px;
			line-height: 20px;
			vertical-align: middle;
			text-align: center;
			color: $black;
			font-size: 12px;
			background-color: $offWhite;
		}
	}
    /** overall width = width+padding-right**/
	ul.dates {
		float: left;
		margin: 0px;
		padding: 0px;
		margin-left: 5px;
		margin-bottom: 5px;
		li {
			margin: 0px;
			padding: 0px;
			margin-right: 5px;
			margin-top: 5px;
			line-height: 20px;
			vertical-align: middle;
			float: left;
			list-style-type: none;
			width: 20px;
			height: 20px;
			font-size: 12px;
			background-color: $offWhite;
			color: $black;
			text-align: center;
		}
	}
}
:focus {
	outline: none;
}
div.clear {
	clear: both;
}

/****** Dashboard ******/
#LoggedInSection {
	margin-left: 0px;
	margin-right: -12px;
	padding: 0;
	background-color: $slighOffWhite;
	width: 999px;
	height: 798px;
	overflow: hidden;
}
#PersonaCard {
	background-color: $darkBlue;
	height: 150px;
	width: 998px;
	color: $slightBlueWhite;
	display: flex;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
	>* {
		&:first-child {
			margin: 1rem;
			align-self: center;
		}
		&:nth-child(2) {
			justify-self: flex-start;
			align-self: center;
		}
	}
	h3 {
		padding-top: 5px;
		margin-top: -5px;
		margin-left: 1rem;
		font-weight: 700;
		font-size: 1.75rem;
	}
}

/****** Acct Overview ******/

#AcctOverview {
	margin-top: 5px;
	margin-left: 2px;
	background-color: $slighOffWhite;
	border-style: solid;
	border-color: $borderColor;
	border-width: 2px;
	border-radius: 20px;
	box-shadow: 4px 4px 6px 3px $borderShadows;
	height: 250px;
	width: 400px;
	
	h4{
		padding-left: 5px;
		text-align:left;
		color:$black;
		font-size: 2rem;
	}
	h2{
		text-align:center;
		color:$darkBlue;
		font-size: 4.5rem;
		font-weight: 700;
	}
	h6{
		padding-right: 5px;
		text-align:right;
		color:$black;
		font-size: 1rem;
	}
}

/****** Acct Cards ******/

#AcctCards {
	margin-top: 5px;
	margin-left: 2px;
	background-color: $slighOffWhite;
	border-style: solid;
	border-color: $borderColor;
	border-width: 2px;
	border-radius: 20px;
	
	box-shadow: 4px 4px 6px 3px $borderShadows;
	height: 250px;
	width: 400px;
	
	h4{
		padding-left: 5px;
		text-align:left;
		color:$black;
		font-size: 2rem;
	}
	p{
		text-align: center;
		text-shadow: 1px 1px 1px $black;
		color:$borderShadows;
		font-size: 1.5rem;
	}
}

/****** News ******/

#News {
	margin-top: 5px;
	margin-left: 2px;
	background-color: $slighOffWhite;
	border-style: solid;
	border-color: $borderColor;
	border-width: 2px;
	border-radius: 20px;
	box-shadow: 4px 4px 6px 3px $borderShadows;
	height: 250px;
	width: 178px;
	
	h4{
		padding-left: 5px;
		text-align:left;
		color:$black;
		font-size: 1.75rem;
	}
	p{
		color:$darkBlue;
		font-size: 1rem;
	}
}

/****** Acct Transactions ******/

#AcctTransactions {
	margin-top: 5px;
	margin-left: 2px;
	background-color: $slighOffWhite;
	border-style: solid;
	border-color: $borderColor;
	border-width: 2px;
	border-radius: 20px;
	
	box-shadow: 4px 4px 6px 3px $borderShadows;
	height: 380px;
	width: 600px;
	
	h4{
		padding-left: 5px;
		text-align:left;
		color:$black;
		font-size: 2rem;
	}
	h6{
		text-align: center;
		text-shadow: 1px 1px 1px $black;
		color:$borderShadows;
		font-size: 1.75rem;
	}
	p{
		text-align: center;
		text-shadow: 1px 1px 2px $borderShadows;
		color:$black;
		font-size: 1.25rem;
		a {
			margin-top: 5px;
			font-weight: 700;
			font-size: .75rem;
			text-align: center;
			color: $greyBlue;
		}
	}
	
}
/****** Spending Tracker ******/

#SpendingTracker {
	margin-top: 5px;
	margin-left: 2px;
	background-color: $slighOffWhite;
	border-style: solid;
	border-color: $borderColor;
	border-width: 2px;
	border-radius: 20px;
	
	box-shadow: 4px 4px 6px 3px $borderShadows;
	height: 380px;
	width: 390px;
	
	h4{
		padding-left: 5px;
		text-align:left;
		color:$black;
		font-size: 2rem;
	}
	h6{
		text-align: center;
		text-shadow: 1px 1px 1px $black;
		color:$borderShadows;
		font-size: 1.75rem;
	}
	p{
		text-align: center;
		text-shadow: 1px 1px 2px $borderShadows;
		color:$black;
		font-size: 1.25rem;
		a {
			margin-top: 5px;
			font-weight: 700;
			font-size: .75rem;
			text-align: center;
			color: $greyBlue;
		}
	}
	
}

.flex-grid {
	display: flex;
}
.flex-col {
	flex: 1;
}
