$color_1: #f7f8fc;
$color_2: #545365;
$color_3: #202136;
$color_4: #dcdfee;
$color_5: #FFF;
$color_6: #000;
$color_7: white;
$background-color_1: #202136;
$background-color_2: #f7f8fc;
$background-color_3: #545365;
$background-color_4: #dcdfee;
$background-color_5: transparent;
$background-color_6: #DDD;
$background-color_7: #202150;
$border-color_1: #202136;