$slighOffWhite: #f7f8fc;
$greyBlue: #545365;
$darkBlueBlack: #202136;
$slightBlueWhite: #dcdfee;
$black: #000;
$pureWhite: white;
$transparent: transparent;
$offWhite: #DDD;
$darkBlue: #202150;
$borderColor: #bfbcd9;
$borderShadows: #d6d3e1;
$newsColor1: #e2e2f7;
$newsColor2: #c0c0dc;