<section class="container container-sm border border-secondary bg-light position-absolute top-50 start-50 translate-middle d-flex" 
         style="height: 480px; width: 720px;">
    <div id="WelcomeSection" class="container">
        <h2>Welcome to<br/>Simple Bank</h2>
        <img src="./src/img/bank.png" style="width: 200px; height: 200px;"/>
        <p>(555) 555 - 0123<br />
           support@simplebank.com</p>
    </div>
    <div id="LoginSection" class="container">
        <form id="loginForm">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="username" class="form-control" id="loginUsername" placeholder="username" 
                       value="" aria-describedby="Username" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="text" class="form-control" id="loginPassword" placeholder="password" 
                       value="" aria-describedby="Password" />
            </div>
            <button type="submit" class="login-btn" id="loginBtn">Login</button><br /></form>
            <button type="click" class="login-btn" id="forgotPword">Forgot Password</button>
        
        <h6>Not a user? <a href="#signup">Sign up now!</a>
    </div>
</section>