<section class="container container-sm border border-secondary bg-light position-absolute top-50 start-50 translate-middle d-flex" 
         style="height: 480px; width: 720px;">
    <div id="WelcomeSection" class="container">
        <h2>Welcome to<br/>Simple Bank</h2>
        <img src="./src/img/bank.png" style="width: 200px; height: 200px;"/>
        <p>(555) 555 - 0123<br />
        support@simplebank.com</p>
    </div>
    <div id="NewAccountSection" class="container">
        <form>
            <div class="mb-3">
                <label for="acctNum" class="form-label">Account Number</label>
                <input type="text" class="form-control" id="acctNum" aria-describedby="Account Number" />
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="username" class="form-control" id="newUsername" aria-describedby="Username" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="newPassword" aria-describedby="Password" />
            </div>
            <button type="submit" class="login-btn" id="signUpBtn">Sign Up</button><br />
        </form>
        <h6>Already a member? <a href="#home">Log In</a>
    </div>
</section>